# Environment Variables & Secrets
.env
*.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.db
backend/test.db

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE & OS
.idea/
.vscode/
*.swp
*.ds_store
Thumbs.db
